* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* header */
header {
    padding: 50px 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.inner-header {
    display: flex;
    gap: 155px;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    display: flex;
    gap: 40px;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.nav-link {
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
}

.btn-wrapper button {
    font-weight: 500;
    border: none;
    background: none;
}

.btn-wrapper button:nth-child(2) {
    border-radius: 50px;
    border: 1px solid #F53855;
    padding: 13px 40px;
}

.btn-wrapper button:not(:last-child) {
    color: #556698;
    font-size: 16px;
    padding: 0 20px 0 0;
}

.button-menu {
    display: none;
}

/* main */
/* section-intro */
.row {
    display: flex;
    margin: 0 -15px;
}

.col-6 {
    width: 50%;
    padding: 15px;
}

.col-4 {
    width: 33.33%;
    padding: 15px
}

.main-title {
    color: #0B132A;
    font-size: 50px;
    font-family: Rubik;
    font-weight: 500;
    line-height: 70px;
}

.sub-title {
    color: #0B132A;
    font-family: Rubik;
    font-weight: 500;
}

.section-description {
    color: #4F5665;
    font-size: 16px;
    font-family: Rubik;
    font-weight: 400;
    line-height: 30px;
}

.img-wrappe{
    width: 500px;
}

/* картинка */
.btn-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-intro {
    padding-top: 50px;
}

.section-intro p {
    margin: 20px 0 70px;
}

.sub-title {
    color: #0B132A;
    font-weight: 500;
}

.section-intro button {
    font-size: 16px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    width: 250px;
    height: 60px;
}

/* icons */
.icons {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    padding: 67px 90px;
    border-radius: 10px;
    box-shadow: 4px 4px 31px 14px rgba(158, 160, 161, 0.39);
}

.inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.inner-wrapper p {
    margin: 5px 0 0;
}

.inner-wrapper:nth-child(2) {
    position: relative;
}

.inner-wrapper:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 2px;
    left: -125px;
    height: 126px;
    bottom: 30;
    background-color: #d3d3d395;
    height: 200%;
}

.inner-wrapper:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 2px;
    right: -125px;
    height: 126px;
    bottom: 30;
    background-color: #cbcbcb95;
    height: 200%;
}

/* 3 div */

.provide {
    margin: 150px 0;
}

.provide h2 {
    color: #0B132A;
    font-size: 40px;
    font-family: Rubik;
    font-weight: 500;
    line-height: 50px;
}

.col-6 span {
    color: #4F5665;
    font-size: 14px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

/* section plan */

.section-plan {
    background: #F8F8F8;
    padding: 80px 0;
}
.litle-padding{
    padding: 180px 0 0 0;
}

.btn-plan {
    text-align: center;
    padding: 40px;
}

.first-text {
    color: #0B132A;
    text-align: center;
    font-size: 35px;
    font-family: Rubik;
    font-weight: 500;
    line-height: 50px;
}

.text-plan {
    color: #4F5665;
    text-align: center;
    font-size: 16px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.tru-icons {
    display: flex;
    gap: 24px;
    padding: 10px 0;
}

.section-plan div {
    text-align: center;
}

.plan-wrapper {
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    padding: 70px;
    margin-top: 30px;

}

.plan-wrapper:hover{
    border:1px solid #F53838;
}

.plan {
    padding: 30px 0;

}

.box img {
    padding: 35px 0;
}

.button-wrapper {
    border-radius: 50px;
    border: 2px solid #F53838;
    color: #F53855;
    padding: 13px 40px;
    background: #FFF;
    margin: 20px 0;
}
.button-wrapper:hover{
    color: #fff;
    background-color: #F53838;
}

.plan-wrapper h2 {
    padding-top: 100px;
}

.col-4 {
    margin: 0 15px;
}

/*  */
.section-map {
    background: #FFF;
    padding: 80px 0;
    text-align: center;
}

.first-text {
    padding: 40px;
}

/* section map */

.section-map img {
    padding: 50px 0;
}

.section-happy {
    background: #FFF;
    ;
}

.happy-title {
    color: #0B132A;
    text-align: center;
    font-size: 35px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

.happy-box {
    display: flex;
    gap: 20px;
}

.happy-text {
    padding: 20px 290px;
}

.unhappy-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.row-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.new-sub {
    color: #0B132A;
    font-size: 16px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.col-border {
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #FFF;
}

.col-border:hover{
    border: 2px solid rgb(220, 20, 20);
}

.new-sub {
    padding: 20px 0;
}

.circles {
    display: flex;
    gap: 10px;
}

.arrows {
    display: flex;
    align-items: center;
    gap: 15px;
}

.signs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 200px;
}

.arrows button {
    border: 2px solid red;
    border-radius: 50%;
    padding: 20px;
    background: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-button:hover {
    background-color: #F53838;
    transition: 0.4s;
}

.white-button:hover path {
    fill: #ffffff;
}

.red-button:hover path {
    fill: #fff;
    background-color: #F53838;
}

.hover-red {
    background: none;
    border: 1px solid #F53838;
    border-radius: 5px;
    color: #F53838;
    padding: 15px 30px;
}

.hover-red:hover {
    color: #fff;
    background-color: #F53838;
    box-shadow: 1px 17px 42px 5px rgba(255, 9, 9, 0.2);
}

.first-footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    background: white;
    padding: 80px 20px;
    margin-top: -200px;
}

footer {
    background: #F8F8F8;
    padding: 100px;
}

.first-footer h2 {
    padding: 0 200px 0 0;
    text-align: start;
}

.col-6 {
    width: 41.67%;
    padding: 15px;
}

.col-7 {
    width: 58.33%;
    padding: 15px;
}

.end {
    display: flex;
    opacity: 0.5;
}

footer .row {
    margin: 20px 0;
}



.line {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px;
}